includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - app
        - config
        - database
        - routes
        - tests
    tmpDir: build/phpstan
    checkModelProperties: true
    checkOctaneCompatibility: true

